@-webkit-keyframes fadeIn {
  from { opacity: 0; transform: translate(0px, 0px);} 
  to { opacity: 1; transform: translate(0px, 400px);}}
}
@-moz-keyframes fadeIn {
  from { opacity: 0; transform: translate(0px, 0px);} 
  to { opacity: 1; transform: translate(0px, 400px);}}
}
@keyframes fadeIn { 
  from { opacity: 0; transform: translate(0px, 0px);} 
  to { opacity: 1; transform: translate(0px, 400px);}}
}
@-webkit-keyframes moveDown {
  from { transform: translate(0px, 0px);} 
  to { transform: translate(0px, 400px);}
}
@-moz-keyframes moveDown {
  from { transform: translate(0px, 0px);} 
  to { transform: translate(0px, 400px);}
}
@keyframes moveDown { 
  from { transform: translate(0px, 0px);} 
  to { transform: translate(0px, 400px);}
}
.fade {
	opacity: 0;transform: translate(0px, 0px);
	-webkit-animation: fadeIn ease-in 1; 
	-moz-animation: fadeIn ease-in 1; 
	animation: fadeIn ease-in 1; 
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}